
  <div class="row">
      <div class="col-md-3">
          <!-- User List -->
          <div class="card ">
              <div class="card-header">
                  <b>Users</b>
              </div>
              <ul class="list-group list-group-flush card-container">
                  <li style="cursor: pointer;" class="list-group-item" *ngFor="let user of allUsers"
                      (click)="onSelectUser(user.UserId!)"
                      [class.active]="user.UserId === selectedUserId">
                      <ng-container >
                        {{ user.FirstName }} {{user.LastName}}
                      </ng-container>
                      <ng-container *ngIf="user.FirstName == '' && user.LastName == ''">
                        {{user.UserName}}
                      </ng-container>
                  </li>
              </ul>
          </div>
      </div>
      <div class="col-md-3">
          <!-- User List -->
          <div *ngIf="chattedUsers.length > 0" class="card ">
              <div class="card-header bg-color">
                  <b>Chatted With</b>
              </div>
              <ul class="list-group list-group-flush card-container">
                  <li style="cursor: pointer;" class="list-group-item" *ngFor="let user of chattedUsers"
                      (click)="onSelectChatter(user.UserId!)"
                      [class.activeChatter]="user.UserId === selectedChatterId">
                      {{ user.FirstName }} {{user.LastName}}
                  </li>
              </ul>
          </div>
      </div>
      <div *ngIf="messages.length > 0" class="col-md-5">
        <!-- Chat Messages -->
        <div class="card">
            <div class="card-header">
                <b>Chat</b>
            </div>
            <app-messages [selectedUserMessages]="messages" [userId]="selectedChatterId"></app-messages>
 
        </div>
    </div>
  </div>
